# Для відправки повідомлень в Teams
TEAMS_WEBHOOK_URL= # вебхук для відправки повідомлень в Teams

# AD arguments (для запису в AD)
OFFICE= # назва офісу
WEB_PAGE= # веб-сторінка
COMPANY= # компанія

# Entra App registrations
CLIENT_ID= # Application (client) ID
TENANT_ID= # Directory (tenant) ID
CLIENT_SECRET= # Certificates & secrets (client secret)

#Power Automate
POWER_AUTOMATE_SECRET_TOKEN= # Створіть 32 значний токен (це значення використовується в Power Automate)

# FastAPI
HOST= # хост для FastAPI наприклад 127.0.0.1
PORT= # порт для FastAPI наприклад 8080
CREATE_USER_URL= # шлях для створення користувача наприклад /AD-automation-webhook/power-automate-webhook (це значення використовується в Power Automate)

# Пошти для відправки листів
SENDER_EMAIL= # пошта відправника
RECIPIENT_EMAIL= # пошта одержувача взагалі лист буде відправлятися на пошту керівника, але можна вказати будь-яку пошту, на яку буде відправлятися лист (умовно пошта it-support)